* {
    padding: 0;
    margin: 0;
}

/*top blue nav bar*/
a{
    color: white;
    text-decoration: none;
}
.hero {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #434c5e;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
}

/*content*/

h1 {
    font-family: "Source Code Pro";
    color: #e5e9f0;
    margin: 0;
    padding-top: 10px;
    font-style: bolder;
}

h2 {
    font-family: Sora;
    padding-top: 25px;
    font-size: 30px;
    font-weight: 900;
}

.ant_desc {
    text-align: justify;
    font-family: Open Sans;
}

/* responsiveness for smaller devices*/
@media screen and (max-width: 640px) {
    .ant_desc {
        text-align: center;
        text-align: justify;
        margin-right:7vw ;
        padding-top: 25px;
        margin-left: 7vw;
        }
    .fact {
            font-family: Open Sans;
            font-weight: 200;
            padding-left: 15vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
            font-weight: bolder;
        }
    .subfact {
        font-family: Open Sans;
        font-weight: 200;
        padding-left: 15vw;
        padding-bottom: 2vh;

}
    img{
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 15%;
    }

    h2{
        text-align: center;
    }
    .nav-links button{
        width: 14vw;
        border-radius: 0;
    }
}

@media screen and (min-width: 640px){
    .ant_desc{
        padding-left: 3%;
        margin-right: 3vw;
        padding-top:2vh;
        font-weight: 200;
        font-size: 18px;
    }
    .fact {
        font-family: Open Sans;
        font-weight: 200;
        padding-left: 10vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-weight: bolder;
    }
    .subfact {
        font-family: Open Sans;
        font-weight: 200;
        padding-left: 10%;
        padding-bottom: 2vh;
    }
    img{
        max-width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
    }
    h2{
        padding-left: 5vw;
    }
    .nav-links button{
        width:14.3vw
    }
}

/*nav links*/
.nav-links{
    display: inline-flex
    }

    .nav-links button{
    height: 6.5vh;
    border:none;
}

button a{
    color:white;
    font-size: 15px;
  }
  .nav-links button.one{
    background-color:#6272a4;
    font-weight: bolder;
  }
  .nav-links button.one:hover{
    background-color:#515f8a;
    font-weight: bolder;
  }
  .nav-links button.two{
    background-color:#ff5555;
    font-weight: bolder;
  }
  .nav-links button.two:hover{
    background-color:#c54242;
    font-weight: bolder;
  }
  .nav-links button.four{
    background-color:#eb9539;
    font-weight: bolder;
  }
  .nav-links button.four:hover{
    background-color:#c57c2e;
    font-weight: bolder;
  }
  .nav-links button.five{
    background-color:#e73098;
    font-weight: bolder;
  }
  .nav-links button.five:hover{
    background-color:#ac2170;
    font-weight: bolder;
  }
  .nav-links button.six{
    background-color:#785e9b;
    font-weight: bolder;
  }
  .nav-links button.six:hover{
    background-color:#5c4875;
    font-weight: bolder;
  }
  .nav-links button.seven{
    background-color:#4bbdd6;
    font-weight: bolder;
  }
  .nav-links button.seven:hover{
    background-color:#337b8b;
    font-weight: bolder;
  }
  .nav-links button.three{
    background-color:#11ad38;
    font-weight: bolder;
  }
  
  .nav-links button.three:hover{
    background-color:#0a8128;
    font-weight: bolder;
  }